# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.production
.env.*.local
wallet.json
data/
!src/data/
# Gros fichier GIF (rester en local ou héberger ailleurs)
public/389105134852633.61dd8a11bbdcf.gif
389105134852633.61dd8a11bbdcf.gif

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
